<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
<script src="../lib/App.js" type="text/javascript">
  const name = getName();
  $('#name').val(name);
</script>

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header" id="name"></div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>